<div class="bg">
    <div class="first_block">
        <div class="quotes">
            <p>
            " Books are ships that sail the mind,<br>
    Through seas of knowledge, wonders find.<br>
    With every turn, new paths unfold,<br>
    Adventures in a world of gold.<br>
    In their embrace, we are refined." 
            </p>
        </div>
        </div>
    
    <div class="second_block">
        <h3 style="color: red;"><B>ABOUT THE APPLICATION:</B></h3>
        <P>
    
            Welcome to GKD Online Book Store, your ultimate destination for book shopping and trading. Our platform offers an extensive collection of books <br>
            across various genres, ensuring every reader finds their perfect match. We also provide a unique feature that allows users to trade books with <br>
            fellow readers, promoting a community of shared knowledge and resources. With a user-friendly interface and secure transaction process, discovering <br>
            and exchanging books has never been easier. Join us today and embark on your literary journey with GKD Online Book Store.</P>
    </div>
    
    <div class="rules-container">
        <div class="rules-column">
            <h2>Admin Rules</h2>
            <ul>
                <li><strong>User Management:</strong> Admins have the authority to create, edit, and delete user accounts...</li>
                <li><strong>Content Management:</strong> Admins are responsible for adding, updating, and removing books...</li>
                <li><strong>Order Processing:</strong> Admins must oversee and manage the order fulfillment process...</li>
                <li><strong>Security:</strong> Admins must regularly update security protocols...</li>
                <li><strong>Marketing and Promotions:</strong> Plan and execute marketing campaigns...</li>
                <li><strong>Compliance:</strong> Ensure that the bookstore operates in compliance with all relevant laws...</li>
            </ul>
        </div>
        <div class="vertical-line"></div>
        <div class="rules-column">
            <h2>User Rules</h2>
            <ul>
                <li><strong>Account Registration:</strong> Users must provide accurate and truthful information...</li>
                <li><strong>Purchasing:</strong> Users should review their order details carefully...</li>
                <li><strong>Content Usage:</strong> Users may only use purchased eBooks for personal, non-commercial purposes...</li>
                <li><strong>Reviews and Feedback:</strong> Provide honest and respectful reviews...</li>
                <li><strong>Returns and Refunds:</strong> Follow the store’s return and refund policy...</li>
                <li><strong>Security:</strong> Report any suspicious activities or security concerns...</li>
                <li><strong>Compliance:</strong> Users must comply with all store policies and applicable laws...</li>
            </ul>
        </div>
    </div>
    </div>
    